@import "../abstracts/_variables.scss";

@font-face {
	font-family: "Inter";
	src: url("../../fonts/Inter-Regular.woff2") format("woff2"),
	url('../../fonts/Inter-Regular.woff') format ('woff');
	font-weight: $font-weight-400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	src: url("../../fonts/Inter-Medium.woff2") format("woff2"),
	url('../../fonts/Inter-Medium.woff') format ('woff');
	font-weight: $font-weight-500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	src: url("../../fonts/Inter-SemiBold.woff2") format("woff2"),
	url('../../fonts/Inter-SemiBold.woff') format ('woff');
	font-weight: $font-weight-600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	src: url("../../fonts/Inter-Bold.woff2") format("woff2"),
	url('../../fonts/Inter-Bold.woff') format ('woff');
	font-weight: $font-weight-700;
	font-style: normal;
	font-display: swap;
}

/* DIN Pro  */
@font-face {
	font-family: "DIN Pro";
	src: url("../../fonts/DINPro-Bold.woff2") format("woff2"),
	url('../../fonts/DINPro-Bold.woff') format ('woff');
	font-weight: $font-weight-700;
	font-style: normal;
	font-display: swap;
}

/* Helios  */
@font-face {
	font-family: "Helios";
	src: url("../../fonts/HeliosC.woff2") format("woff2"),
	url('../../fonts/HeliosC.woff') format ('woff');
	font-weight: $font-weight-400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Helios";
	src: url("../../fonts/HeliosC-Bold.woff2") format("woff2"),
	url('../../fonts/HeliosC-Bold.woff') format ('woff');
	font-weight: $font-weight-400;
	font-style: normal;
	font-display: swap;
}