

// colors
$primary: #2231AA;
$primary-2: #5360CD;
$secondary: #313037;
$gray: #8D8E97;
$medium: #DADADA;
$extra-light: #F3F3F3;
$error: #FD3419;
$white: #FFFFFF;
$light: #E8E8E8;

// typography
$font-h1: 3.5rem;
$font-h2: 2rem;
$font-h3: 1.125rem;
$font-subline: 1rem;
$font-body: 1.125rem;
$font-body2: 1rem;

$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;

$line-height-80: 5rem;
$line-height-48: 3rem;
$line-height-44: 2.75rem;
$line-height-36: 2.25rem;
$line-height-32: 2rem;
$line-height-28: 1.75rem;
$line-height-24: 1.5rem;

//mobule
$font-h1-mobile: 2rem;
$font-h2-mobile: 1.5rem;
$font-h3-mobile: 1.125rem;
$font-subline-mobile: 1rem;
$font-body-mobile: 1rem;
$font-body2-mobile: 1rem;


// spacer

$spacer: 1rem;

$space-72: 4.5rem;
$space-64: 4rem;
$space-56: 3.5rem;
$space-48: 3rem;
$space-40: 2.5rem;
$space-36: 2.25rem;
$space-32: 2rem;
$space-28: 1.75rem;
$space-24: 1.5rem;
$space-16: 1rem;
$space-8: 0.5rem;

