:root {
	// fonts
	--font-h1: 3rem;
	--font-h2: 2.25rem;
	--font-h3: 1.75rem;
	--font-h4: 1.125rem;
	--font-h5: 1rem;
	--font-h6: 0.876rem;
	--font-blockoute: 1.5rem;


	// colors
	--color-pink: #FF8FAC;
	--color-purple: #9283E0;
	--color-orange: #FFA599;
	--color-yellow: #FFD581;
	--color-v: #FE90EC;
	--color-blue: #27AEFF;
	--color-green: #00DC90;
	--color-bg: #F9F9Fb;
	--color-white: #fff;
	// text-colors
	--color-text-default: #000000;
	--color-text-passive: #9B9B9B;
	--color-text-quote: #9283E0;
	--color-text-hover: #FF5480;

	--spacer: 1rem;
}