.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0 58px;

	&__left {
		display: flex;
		align-items: center;
		gap: 40px;
	}
	.search-icon {
		display: block;
		font-size: 24px;
		cursor: pointer;
	}
}