.crumbs__link {
	font-size: $font-body2;
	line-height: $line-height-24;
	color: $secondary;

}
.gray {
	position: relative;
	color: $gray;
	&:before {
		content: '';
		position: absolute;
		width: 2px;
		height: 100%;
		top: 0;
		left: -17px;
		background: $gray;

	}
}