.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 33px 0;
	border-top: 1px solid $gray;
	&__item {

		font-size: $font-body2;
		line-height: $line-height-24;
		/* identical to box height, or 150% */

		color: $gray;
	}

}