.wrapper {
	max-width: 1120px;
	margin: 0 auto;
	padding: 0 20px;

}

.form-wrapper {
	max-width: 648px;
	margin: 0 auto 124px;
	padding: $space-40;
	border: 1px solid $medium;
}

.form-wrapper--create {
	max-width: 100%;
	border: none;
	padding: unset;

}