@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap');
@import "./scss/main.scss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

body {
	font-family: 'Open Sans', sans-serif;
	@include fontBody;
	background: var(--color-bg);
}

.App {
	min-height: 94vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.content {
	flex-grow: 1;
}